<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>ログイン</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- BootstrapのCSS読み込み -->
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<!-- jQuery読み込み -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- BootstrapのJS読み込み -->
<script src="static/js/bootstrap.min.js"></script>
</head>
<body>
<style>
body{
  width:100%; /*ページ全体の幅は100%と指定する*/
  text-align:center; /*ページ全体を中央揃えにする*/
}
#form{
  width:80%;
  margin:10px auto;
}
</style>
<div id="form">
  <p class="form-title">グループを作る</p>
  <form class="form-horizontal" method="post">
    <p>グループの名前</p>
    <p class="orgsName" style="padding-bottom:20px;"><input name="orgsName" class="form-control" value=""></p>
    <p>グループの説明</p>
    <p><input name="orgsDiscription" class="form-control" value=""></p>
    <p>inviteUserName</p>
    <p class="inviteUserId"><input name="inviteUserId" class="form-control" value=""></p>
    <p><button class="btn btn-primary">作成</button></p>
  </form>
</div>
</body>
</html>
