<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>PHHBookmark TopPage</title>
  <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  <link rel="stylesheet" href="/static/bookmark.css" >
  <script type="text/javascript" src="/static/showbookmark.js"></script>
  <script type="text/javascript" src="/static/showCreate.js"></script>


  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

</head>
<body>
  <% include header.ejs %>
  <div id="container">
  <div id="bookmarkList">
    <h3>ブックマーク一覧</h3>
    <div class="bookmarkUrl">

    </div>
  </div>
</div>

</body>
</html>
