<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>PHHBookmark TopPage</title>
  <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  <link rel="stylesheet" href="/static/bookmark.css" >
  <script type="text/javascript" src="/static/showbookmark.js"></script>
  <script type="text/javascript" src="/static/showCreate.js"></script>


  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

</head>
<body>

  <header>
    <div class="header-left">
      <h2>PHH Bookmark ver0.1</h2>
    </div>
    <div class="header-right">
      <ul>
      <li>
        <div class="header-right-left" style="float:left;">
          <input name="seach"class="mdl-textfield__input" type="text" id="seach">
          <i class="material-icons">search</i>
    </li>
    <li>
      <div class="header-right-right">
        <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Setting</a>
        <ul id='dropdown1' class='dropdown-content'>
          <li class="mdl-menu__item"><a href="/createorg">グループを作る</a></li>
          <li class="mdl-menu__item"><a href="/setting">設定</a></li>
          <li disabled class="mdl-menu__item"><a href="/logout">ログアウト</a></li>
        </ul>
      </div>
    </li>
    </ul>
    </div>
  </header>

  <div id="container">
    <div class="topInput">
      <div class="inputField row">
        <form class="col s12">
          <div class="input-field col s6">
            <input name="url"class="mdl-textfield__input" type="text" id="inputUrl">
            <label for="inputUrl">URL</label>
          </div>
          <div class="input-field col s12">
            <textarea id="textarea1" id="inputComment" class="materialize-textarea"></textarea>
            <label for="textarea1">Comment</label>
          </div>
        </div>
        <p><button id="addbtn" class="btn mdl-button mdl-js-button mdl-button--raised">
          追加
        </button></p>
      </form>
    </div>
  </div>

  <div id="bookmarkList">
    <h3>ブックマーク一覧</h3>
    <div class="bookmarkEX">
      <p>URLのTop画像 タイトル  コメント表示  <input type="button" name="name" value="編集">
        <input type="button" name="name" value="削除">
      </p>
    </div>
    <div class="bookmarkUrl">

    </div>
  </div>
</div>

</body>
</html>
