<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>ログイン</title>
  <!-- Material Design Lite-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
  <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>

</head>
<body>
<style>
body{
  width:100%; /*ページ全体の幅は100%と指定する*/
  text-align:center; /*ページ全体を中央揃えにする*/
}
#form{
  width:80%;
  margin:10px auto;
}
</style>
<div id="form">
  <p class="form-title">グループを作る</p>
  <form class="form-horizontal" action="/createorg" method="post">
    <p>グループの名前</p>
    <p class="orgName" style="padding-bottom:20px;"><input name="orgName" class="form-control" value=""></p>
    <p>グループの説明</p>
    <p><input name="orgDescription" class="form-control" value=""></p>
    <!-- <p>inviteUserName</p>
    <p class="inviteUserId"><input name="inviteUserId" class="form-control" value=""></p> -->
    <p><button class="btn btn-primary">作成</button></p>
  </form>
</div>
</body>
</html>
