<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>ログイン</title>
</head>
<body>
<style>
body{
}
#form{
  width:250px;
  margin:0px;
  padding:15px;
  border:1px solid #778899;
}
p{
  margin:auto auto;
  padding: auto auto;
}
.form-title{
  border-bottom:1px solid #4682B4;
}
</style>
<div id="form">
  <p class="form-title">Login</p>
  <form class="" action="/login" method="post">
    <p>username</p>
    <p class="userName"><input name="username" value=""></p>
    <p>password</p>
    <p class="password"><input name="password" type="password" value=""></p>
    <button>login</button>
  </form>
</div>
</body>
</html>
