<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>PHHBookmark TopPage</title>
  <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  <link rel="stylesheet" href="/static/bookmark.css" >

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

</head>
<body>
  <% include header.ejs %>
  <div class="container">
    <h3>所属グループ</h3>
    <%if (orgs.length > 0) {%>
      <ul class="collection">
        <%for(var i = 0;i < orgs.length; i++){%>
        <li class="collection-item avatar">
          <a href="/org/<%= orgs[i].id %>">
            <span class="title"><%= orgs[i].name %></span>
          </a>
          <p><%= orgs[i].description %></p>
        </li>
        <%}%>

      </ul>
    <%} else {%>
      <p>現在所属しているグループはありません。</p>
      <p><a href="/createorg">グループをつくってみる</a></p>
    <%}%>
  </div>
</body>
</html>
