<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ログインページ</title>
  </head>
  <body>
    <p>ユーザー名 <%= username %></p>
    <p>パスワード <%= password %></p>
    <p>表示名 <%= name %></p>
  </body>
</html>
