<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>会員登録</title>
  <!-- Material Design Lite-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
  <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
</head>
<body>
<style>
body{
  width:100%; /*ページ全体の幅は100%と指定する*/
  text-align:center; /*ページ全体を中央揃えにする*/
}
#form{
  width:250px;
  margin:50px auto 0px auto;
}
.form-title{
  border-bottom:1px solid #4682B4;
}
</style>
<div id="form">
  <p class="form-title">会員登録</p>
  <form class="form-horizontal" action="/register" method="post">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input name="userName"class="mdl-textfield__input" type="text" id="userName">
      <label class="mdl-textfield__label" for="userName">userName</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input name="email"class="mdl-textfield__input" type="text" id="email">
      <label class="mdl-textfield__label" for="email">email</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input name="password"class="mdl-textfield__input" type="password" id="password">
      <label class="mdl-textfield__label" for="password">password</label>
    </div>
    <button class="btn mdl-button mdl-js-button mdl-button--raised">
      登録
    </button>
    <p><%= warn %></p>
  </form>
</div>
</body>
</html>
