<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>setting</title>

  <link href="static/setting.css" rel="stylesheet" >
  <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js"></script>

  <script type="text/javascript" src="/static/setting.js"></script>

</head>
<body>
  <% include header.ejs %>
  <div class="container">
    <h1>設定</h1>
    <div id="form">
      <p class="form-title"></p>
      <form id="updateForm" class="form-horizontal" action="/setting" method="post">
        <p>名前</p>
        <p><input name="displayName" class="name form-control"></p>
        <p>username</p>
        <p><input name="name" class="name form-control"></p>
        <p>アイコン</p>
        <input type="file" name="icon">
        <p>メールアドレス</p>
        <p><input name="email" class="email form-control"></p>
        <p>新しいパスワードに変更</p>
        <p><input name="newpassword" type="password" class="password form-control" value=""></p>
        <p>現在のパスワード</p>
        <p><input name="password" type="password" class="password form-control" value=""></p>

        <button id="sendBtn" type="button" class="btn" disabled="true">更新</button>
      </form>
    </div>
  </div>
</body>
</html>
