<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>PHHブックマーク</title>
  <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  <script type="text/javascript" src="/static/topPage.js"></script>
</head>
<body>
<style media="screen">
a {
  text-decoration: none;
}
header{
  height:60px;
  border-bottom:1px solid #A9A9A9;
}
</style>
<header>

  <nav class="blue darken-3">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">PHH Book Mark</a>
    </div>
  </nav>
</header>
  <div class="carousel carousel-slider center" data-indicators="true">
    <div class="carousel-fixed-item center">
      <a href="/login" class="btn waves-effect white grey-text darken-text-2">ログイン</a>
      <a href="/register" class="btn waves-effect white grey-text darken-text-2">登録</a>
    </div>
    <div class="carousel-item blue white-text" href="#one!">
      <h2>PHHブックマーク</h2>
      <p class="white-text">URLをはより高速かつ安心に共有できるサービスです</p>
    </div>
    <div class="carousel-item  teal darken-3 white-text" href="#two!">
      <h2>グループ内で共有</h2>
      <p class="white-text">同じ趣味を持った仲間内で情報共有ができます</p>
    </div>
  </div>
</body>
</html>
