body{
}
header{
  height:60px;
  border-bottom:1px solid #A9A9A9;
}
.header-left{
  float:left;
  margin:0px 0px;
}
.header-left h2{
  margin:0px 0px;
  font-weight:100;
}
.header-right{
  float:right;
}

#setting{
  float:left;
  padding: 20px 10px;
  border-left: 1px solid  #A9A9A9;
  list-style:none;
}

.dropdown-menu{
}

.container{
  width:100%;
}

.topInput{
  width:80%;
  margin:10px auto;
}
.inputField{
  float:left;
  margin:20px;
}

.topInput textarea{
}
.bookmarkList{
  clear: left;
}
.bookmarkUrl{
}
.bookmarkElem{
  float:left;
  width:40%;
  height:250px;
  margin:0 auto;
  padding:15px;
  border:1px solid #E6E6FA;
  border-radius:3px;
}
.bookmarkElem img{
  width:100px;
}
.bookmarkElem p{
}
.item{
  border: 1px solid black;
}
