body{
}
header{
  height:60px;
  border-bottom:1px solid #A9A9A9;
}
.header-left{
  float:left;
  padding-left: 20px;
}
.header-left h2{
  font-weight:100;
}
.header-right{
  float:right;
  margin-right: 5px;
}
.header-right li{
  float:left;
  padding: 20px 10px;
  border-left: 1px solid  #A9A9A9;
  list-style:none;
}
.container{
  width:100%;
  margin:0 auto;
}

.topInput{
  width:100%;
  margin: 20px auto;
  float:left;
}

.topInput textarea{
}
.bookmarkList{
  clear: left;
  background-color:#B0C4DE;
}
.bookmarkUrl{
}
.item{
  border: 1px solid black;
}
