body{
}
a {
  text-decoration: none;
}
header{
  height:60px;
  border-bottom:1px solid #A9A9A9;
}
.header-left{
  float:left;
  margin:0px 0px;
}
.header-left h2{
  margin:0px 0px;
  font-weight:100;
}
.header-right{
  float:right;
  margin:15px;
}

#setting{
  float:left;
  padding: 20px 10px;
  border-left: 1px solid  #A9A9A9;
  list-style:none;
}

#container{
  display: block;
}

.topInput{
  width:80%;
  margin:10px auto;
}
.inputField{
  float:left;
  margin:20px;
}

.topInput textarea{
}
#bookmarkList{
  clear: left;
  width:100%;
  margin: 0 auto;
  display: block;
}
.bookmarkUrl{
  width:95%;
  margin:0 auto 0 auto;
  clear:both;
}
.mdl-card{
  width:200px;
  height:300px;
  float:left;
  margin:10px 10px;
  /*border: 1px solid #808080;*/
}
.mdl-card__media{
  height:50%;
  width:100%;
  text-align: center;
}
.mdl-card__media a{
  text-align: center;
}
.mdl-card__media img{
  max-width:80%;
  max-height:80%;
  margin:5px;
}
.trash{
  padding:5px;
}
